body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
  background-color: rgb(6, 176, 206);
  max-width: 1280px;
}


.main{
  align-items: center;
  text-align: center;
  font-size: 30px;
}

img {
  width: 550px;
  height: 500px;
  display: block;
  margin: 0px auto;
  border-style: dotted;
}


